<!---Create section/wishlist.liquid--->

<div id="favourite-container" style="min-height: 400px;">
	<div class="section-header" style="display: none;">
    <input id="myInput" onkeyup="searchP()" type="text" placeholder="SEARCH WISHLIST">
  </div>
  <ul id="wishlist-here2" class="grid grid--uniform">
  </ul>
  <a href="#" id="loadMore" class="btn" style="display: none;">Load More</a>
</div>
<div id="wishlist-here" style="display: none;opacity: 0;visibility: hidden;position: absolute;bottom: 0;height: 0;">
</div>